{
  "presets": ["@babel/preset-react", "@babel/preset-flow", "@babel/preset-env"],
  "env": {
    "development": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "./build/messages/"
          }
        ]
      ]
    }
  }
}
